@use '../../../../../sass/abstracts/' as * ;

.add-brand {
    border: solid 1px;
    padding: 2rem;
    border-radius: 20px;

    &__item {

        label {
            margin-right: 10px;
        }

        input {
            padding: 5px;
            border-radius: 20px;
            outline: none;
        }
    }
    &__btn {
        width: 100%;
        @include flex();

        button {
            @include flex();
            padding: .8rem 1.2rem;
            color: white;
            background-color: teal;
            outline: none;
            border-radius: 30px;
            border: none;
            margin-top: 20px;
            cursor: pointer;

            i {
                margin-right: 4px;
                font-size: 1rem;
            }
        }
    }
}