@use '../../sass/abstracts/' as *;

.widget-top {
    @include flex(stretch,flex-start);
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 30px;
    background-color: $mainBg;
    margin-top: 20px;
    padding: 1rem 2rem;

}

