.cart {
  @include flex(flex-start, center);
  
  padding: 0 40px;
  margin-top: calc(#{$header-height} * -1);
  @include tablet {
    flex-direction: column;
  margin-top: calc(#{$header-tablet-height} * -1);

  }
  @include mobile {
    padding: 0;
  margin-top: calc(#{$header-mobile-height} * -1);

  }

  &__item {
    width: 65%;
    @include tablet {
      width: 100%;
    }
  }
  &__info {
    flex: 1;
    @include flex(center, center);
    flex-direction: column;
    @include tablet {
      width: 100%;
    }

    &__content {
      flex-direction: column;
      border: solid 1px #000;
      border-radius: 20px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      width: 80%;
      padding: 15px;
      margin-bottom: 20px;
      &__title {
        font-size: 1.8rem;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
      }
      &__item {
        @include flex(flex-start, space-between);
        font-size: 1.3rem;
        &__main {
          border-top: solid 2px #000;
          font-weight: 600;
          padding-top: 5px;
        }

      }
      &__item > div {
        margin-bottom: 5px;
      }
    }
    &__btn {
      margin-bottom: 20px;

      
    }
  }
}
