.footer {
  padding: 50px;
  background-color: $second-bg-color;

  &__title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__content > p {
      margin-bottom: 10px;
  }

  &__logo {
    height: 58px;
  }
}
